.chat-main
  .chat-main__group-info
    .main-left
      .left-group
        = @group.name

      .left-menber
        - @group.users.each do |user|
          = user.name
          

    .chat-member
    .main-right
      = link_to edit_group_path, do
        Edit
        
  

  .chat-main__message-list
    = render @messages
    


  .Footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form-message
        = f.text_field :content, class: 'form-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-send'
