.chat-main
  .chat-main__group-info
    .main-left
      .left-group
        test
      .left-menber
        Menber : name
    .chat-member
    .main-right
      = link_to '#' do
        Edit
        
  

  .chat-main__message-list
    .Message
      .MessageTop
        .MessageTop__username
          PON
        .MessageTop__date
          2020/12/09(水)18:00
      .MessageMain
        おはようさん
    
  
    .Message
      .MessageTop
        .MessageTop__username
          PON
        .MessageTop__date
          2020/12/09(水)19:00
      .MessageMain
        こんにツア


  .Footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form-message
        = f.text_field :content, class: 'form-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-send'
